.normalButton{
    text-decoration: none;
    background-color: var(--second-color);
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--third-color);
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: -1px 1px 4px var(--first-color) ;
}
.normalButton:hover{
    background-color: var(--second-color) ;
    border-color: #11acac;
}
.normalButton:active {
    background-color: var(--first-color);
    color: var(--second-color);
}
.normalButton:disabled {
    opacity: 0.3;
    color: darkgray;
    cursor: not-allowed;
}

