.selectWall {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin:3rem 0;

}
.pointsLimitContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:orange;
}
.pointsLimitContainer__info {
    background-color: var(--second-bg-color);
    padding: 0.2rem 3rem;
    border-radius: 10px;
}

.blocked {
    opacity: 0.15;
}
.saveButton {
    text-align: center;
}

@media only screen and (max-width: 768px){
    .selectWall {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}