.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

@media only screen and (max-width: 720px){
    .menu {
        flex-direction: column;
        gap:0.5rem;
    }
}