.playZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    animation: showElement 2300ms ease-in;


}
.winnerName {
    font-size: 1.3rem;
}
.winner {
    color: var(--second-color);
    font-size: 3.2rem;
}
.gameOverSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.winnerNameSummary {
    font-size: 1.4em;
    color:var(--second-color)
}
.gameOverSummary p:first-child {
    color:red;
    font-size: 1.5em;
}