.header {
    display: flex;
    flex-direction: column;
}
.title {
    border-radius: 2rem;
    padding: 1rem 3rem;
    position: relative;
    top:-1rem;
    background:radial-gradient(circle, rgba(143,47,47,1) 0%, rgba(145,26,26,1) 47%, rgba(252,235,119,1) 100%);


}
@media only screen and (max-width:460px){
    .title {
        font-size: 0.9rem;
        position: static;
        padding:0.2rem;
    }
}