.namesInput {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    animation: showElement 2500ms ease-in;

}

.result-selection {
    font-size: 3rem;
    opacity:0.5;
}
.result-selection.winner {
    opacity:1;
    font-size: 3.4rem;
}





