body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color:#ffffff;
    animation: showElement 2300ms ease-in;
    font-family: 'Silkscreen', cursive;

}
