:root {
    font-size: 12px;
    font-family: 'Silkscreen', cursive;
    --first-color: white;
    --second-color: indianred;
    --third-color: darkred;
    --first-bg-color: black;

}
body {
    margin:0;
    padding:0;
    background-color: var(--first-bg-color);
    color:#ffffff;
    animation: showElement 1300ms ease-in;


}
#root {

}
.mainAppContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.4rem;

}
body::-webkit-scrollbar-track {
    background-color: var(--third-color);

}
body::-webkit-scrollbar-thumb {
    background-color: var(--second-color);

}
@media only screen and (max-width:460px){
    :root {
        font-size: 10px;
    }
}
@media only screen and (min-width:576px){
    :root {
        font-size: 11px;
    }
}
@media only screen and (min-width:992px){
    :root {
        font-size: 14px;
    }
}
@keyframes showElement {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}